# Ignored Folders
**/target/
**/model/
**/node_modules/
.devcontainer/
dist/

# Ignored Files
**/*.rs.bk
*.log
.DS_Store
.env
node_modules/
aimds-rust/target/
aimds-rust/index.node
*.db
agents/researcher-agent/node_modules/
